.header{
  padding: 0px 30px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.container {
	position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.user-card-details{
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  display: flex;
  background: white;
}

.user-card{
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  width: 33.33%;
  display: flex;
}

.user-wrapper{
  display:flex;
  border:1px solid grey;
  padding: 10px;
}

.user-picture{
  display: block;
  width: 90px;
  height: 90px;
  border: 1px solid grey;
  background: #eeeeee;

}

.user-desc{
  font-size: 12px;
  margin-left: 12px;
}

.user-info{
  font-size:12px;
}

.modal{
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(2505, 255, 255, 0.7);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
